# Підготовка та аналіз даних 
## Лабораторна робота №4
### Структури для роботи з великими обсягами даних в Python
### ФБ-21 Каюн Вероніка
<b>Мета роботи:</b> отримати навички роботи із структурами для зберігання в Python (python, numpy, pandas, numpy array, dataframe, timeit)

  # Рівень 1

In [1]:
import pandas as pd

# Завантаження даних та обробка порожніх значень
data = pd.read_csv('household_power_consumption.txt', delimiter=';', na_values='?', header=0)
data.dropna(inplace=True)

# Перетворення стовпців у тип даних float
columns_to_convert = ['Global_active_power', 'Global_reactive_power', 'Voltage', 
                      'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']
data[columns_to_convert] = data[columns_to_convert].astype(float)

data['Date'] = data['Date'].astype(str)
data['Time'] = data['Time'].astype(str)

data.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0

1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [2]:
import pandas as pd
import numpy as np
import timeit

start_time_df = timeit.default_timer()
households_df = data[data['Global_active_power'] > 5]  
end_time_df = timeit.default_timer()

print("Час виконання для DataFrame:", end_time_df - start_time_df)
households_df.head()

Час виконання для DataFrame: 0.015493700000661192

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0

In [3]:
import numpy as np
import timeit

# Заміна NaN у вихідних даних нулями для numpy array
data_np = np.nan_to_num(data.to_numpy())

start_time_np = timeit.default_timer()
households_np = data_np[data_np[:, 2] > 5] 
end_time_np = timeit.default_timer()

print("Час виконання для numpy array:", end_time_np - start_time_np)
print(households_np[:5])

Час виконання для numpy array: 0.19615600000179256
[['16/12/2006' '17:25:00' 5.36 0.436 233.63 23.0 0.0 1.0 16.0]
 ['16/12/2006' '17:26:00' 5.374 0.498 233.29 23.0 0.0 2.0 17.0]
 ['16/12/2006' '17:27:00' 5.388 0.502 233.74 23.0 0.0 1.0 17.0]
 ['16/12/2006' '17:35:00' 5.412 0.47 232.78 23.2 0.0 1.0 17.0]
 ['16/12/2006' '17:36:00' 5.224 0.478 232.99 22.4 0.0 1.0 16.0]]

2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [4]:
start_time_df = timeit.default_timer()
households_df = data[data['Voltage'] > 235]
end_time_df = timeit.default_timer()

print("Час виконання для DataFrame:", end_time_df - start_time_df)
households_df.head()

Час виконання для DataFrame: 0.46287499999743886

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0

In [5]:
start_time_np = timeit.default_timer()
data_np = np.array(data)
households_np = data_np[data_np[:, 4] > 235]  
end_time_np = timeit.default_timer()

print("Час виконання для numpy array:", end_time_np - start_time_np)
print(households_np[:5])

Час виконання для numpy array: 6.292925199999445
[['16/12/2006' '17:28:00' 3.666 0.528 235.68 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:29:00' 3.52 0.522 235.02 15.0 0.0 2.0 17.0]
 ['16/12/2006' '17:30:00' 3.702 0.52 235.09 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:31:00' 3.7 0.52 235.22 15.8 0.0 1.0 17.0]
 ['16/12/2006' '17:38:00' 4.054 0.422 235.24 17.6 0.0 1.0 17.0]]

3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [17]:
start_time_df = timeit.default_timer()
households_df = data[(data['Global_intensity'] >= 19) & (data['Global_intensity'] <= 20) 
                     & (data['Sub_metering_2'] > data['Sub_metering_3'])]

end_time_df = timeit.default_timer()

print("Час виконання для DataFrame:", end_time_df - start_time_df)
households_df.head()

Час виконання для DataFrame: 0.039252299997315276

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,16/12/2006,0 days 18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,17/12/2006,0 days 01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,17/12/2006,0 days 01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,17/12/2006,0 days 01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,17/12/2006,0 days 01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0

In [18]:
start_time_np = timeit.default_timer()
data_np = np.array(data)

households_np = data_np[(data_np[:, 5] >= 19) & (data_np[:, 5] <= 20) & 
                              (data_np[:, 7] > data_np[:, 8])]
end_time_np = timeit.default_timer()

print("Час виконання для numpy array:", end_time_np - start_time_np)
print(households_np[:5])

Час виконання для numpy array: 6.420309500001167
[['16/12/2006' Timedelta('0 days 18:09:00') 4.464 0.136 234.66 19.0 0.0
  37.0 16.0]
 ['17/12/2006' Timedelta('0 days 01:04:00') 4.582 0.258 238.08 19.6 0.0
  13.0 0.0]
 ['17/12/2006' Timedelta('0 days 01:08:00') 4.618 0.104 239.61 19.6 0.0
  27.0 0.0]
 ['17/12/2006' Timedelta('0 days 01:19:00') 4.636 0.14 237.37 19.4 0.0
  36.0 0.0]
 ['17/12/2006' Timedelta('0 days 01:20:00') 4.634 0.152 237.17 19.4 0.0
  35.0 0.0]]

4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії.

In [8]:
random_indices = np.random.choice(len(data), size=500000, replace=False)
households_df = data.iloc[random_indices]
start_time_df = timeit.default_timer()
groups_df = households_df[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean()
end_time_df = timeit.default_timer()

print("Час виконання для DataFrame:", end_time_df - start_time_df)
groups_df.head()

Час виконання для DataFrame: 0.03617809999923338

Sub_metering_1    1.137116
Sub_metering_2    1.302018
Sub_metering_3    6.474558
dtype: float64

In [9]:
random_indices = np.random.choice(len(data), size=500000, replace=False)
households_np = data.to_numpy()[random_indices]
start_time_np = timeit.default_timer()
groups_np = np.mean(households_np[:, 6:9], axis=0)
end_time_np = timeit.default_timer()

print("Час виконання для numpy array:", end_time_np - start_time_np)
print(groups_np)

Час виконання для numpy array: 0.22712919999685255
[1.118716 1.286452 6.4559]

5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [10]:
start_time_df = timeit.default_timer()
# Вибір домогосподарств, які після 18:00 споживають понад 6 кВт за хвилину в середньому
households_df = data[(data['Time'] > '18:00:00') & (data['Global_active_power'] > 6) &
(data['Sub_metering_2'] > data['Sub_metering_1']) & (data['Sub_metering_2'] > data['Sub_metering_3'])]

# Вибір кожного третього результату із першої половини та кожного четвертого результату із другої половини
households_df_1 = households_df.iloc[:len(households_df) // 2:3]
households_df_2 = households_df.iloc[len(households_df) // 2::4]
result_df = pd.concat([households_df_1, households_df_2])

end_time_df = timeit.default_timer()
print("Час виконання для DataFrame:", end_time_df - start_time_df)
result_df.head()

Час виконання для DataFrame: 0.30064409999977215

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,16/12/2006,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,16/12/2006,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,28/12/2006,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,28/12/2006,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,28/12/2006,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0

In [11]:
import numpy as np
import pandas as pd
import timeit
from datetime import datetime
data['Time'] = pd.to_timedelta(data['Time'])
data_np = data.to_numpy()
start_time_np = timeit.default_timer()
time_threshold = np.timedelta64(18, 'h')

households_np = data_np[(data_np[:, 1] > time_threshold) & 
                              (data_np[:, 2] > 6) & 
                              (data_np[:, 7] > data_np[:, 6]) & 
                              (data_np[:, 7] > data_np[:, 8])]

households_np_1 = households_np[:len(households_np) // 2:3]
households_np_2 = households_np[len(households_np) // 2::4]
result_np = np.concatenate([households_np_1, households_np_2])
end_time_np = timeit.default_timer()
print("Час виконання для numpy array:", end_time_np - start_time_np)
print(result_np)

Час виконання для numpy array: 7.320419600000605
[['16/12/2006' Timedelta('0 days 18:05:00') 6.052 ... 0.0 37.0 17.0]
 ['16/12/2006' Timedelta('0 days 18:08:00') 6.308 ... 0.0 36.0 17.0]
 ['28/12/2006' Timedelta('0 days 20:58:00') 6.386 ... 1.0 36.0 17.0]
 ...
 ['20/11/2010' Timedelta('0 days 18:39:00') 6.362 ... 16.0 35.0 16.0]
 ['20/11/2010' Timedelta('0 days 18:43:00') 6.324 ... 14.0 35.0 17.0]
 ['20/11/2010' Timedelta('0 days 18:49:00') 6.21 ... 21.0 34.0 17.0]]